<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <header>
      <% include ./partials/navbar %>
    </header>
    <h1><%= Brand %></h1>
    <p>Welcome to <%= Brand %></p>
  </body>
</html>
